@import './reset.scss';
@import './variables.scss';
@import '../../node_modules/foundation-sites/dist/css/foundation.min.css';
@import './fontawesone.scss';
@import './modifiers.scss';

body {
    font-family: Helvetica, Tahoma, Arial, sans-serif;
    font-size: 10px;
    background-color: #13181d;
    color: #6e7a84;
}

main {
    font-size: 1.2rem;
    padding: 20px;
}
  