.sg-card-list {
  column-count: 4;
  column-gap: 1em;
  padding: 20px;
  max-width: 1280px;
  margin: 0 auto;
}

@media only screen and (min-width: 480px) {
    .sg-card-list {
        column-count: 1;
    }
}

@media only screen and (min-width: 768px) {
    .sg-card-list {
        column-count: 2;
    }
}

@media only screen and (min-width: 1024px) {
    .sg-card-list {
        column-count: 3;
    }
}

@media only screen and (min-width: 1280px) {
    .sg-card-list {
        column-count: 4;
    }
}